@import '../../styles/variables';

#view-header{
    text-transform: uppercase;
    text-shadow: none;
    padding-bottom: 5px;
    border-bottom: solid 2px #d4d4d4;
    cursor: pointer;
}

.view-title{
    line-height: normal;
    margin-top: 1em;
    cursor: pointer;
}

.view-secondary-title{
    line-height: normal;
    margin-top: 1em;
    cursor: pointer;
}

/* Icons */
.icon-cnt{
    margin-right: 5em;
    width: inherit;
    padding: 10px;
    cursor: pointer;
}

.icon-outline{
    width: inherit;
    border: solid 1px #d4d4d4;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.icon-outline > svg {
    font-size: 2em;
}

.icon-outline:hover{
    border-color: $hover-border-color;
}

/* Input */
.input-text {
    background-color: $input-bk-color;
    border: solid 1px $input-bk-color;
    border-radius: 5px;
    padding: 12px;
    width: 100%;
    font-size: $view-discription-font-sz;
    text-transform: uppercase;
    color: #0000009c;
    outline: 0;
    margin-bottom: 1em;
}

/* Accordion */
.accordion .card {
    border: none;
}

.accordion .card-body {
    border-bottom: solid 1px $hover-border-color;
    border-radius: $border-radius;
}

.accordion .card-body .content{
    font-size: $view-content-text-font-sz;
}

.accordion {
    border: solid 1px $hover-border-color;
    border-radius: 5px;
    margin-top: 1em;
    margin-bottom: 1em;
    max-height: 16em;
    overflow: scroll;
    scrollbar-width: thin !important;
}

.accordion .card-header {
    background: none;
}

.accordion .card-header:hover {
    background: #e3e3e38c;
    cursor: pointer;
    border: none;
}

.accordion .toggle-text {
    color: $primary-btn-bk;
    font-size: $view-toggle-text-font-sz;
    font-weight: 600;
}

hr {
    color: $horizontal-rule-color;
}

/* Italic header */
.italic-header{
    font-size: $view-discription-font-sz;
    font-weight: 600;
}

.accordion-desc{
    font-size: $view-discription-font-sz;
}

/* button */
.app-btn{
    width: 100%;
    padding: 10px;
    text-transform: uppercase;
}

.hover-edit:hover, .hover-edit:focus-within, input:focus::placeholder, input:hover::placeholder  {
    outline: 2px dashed red !important;
    outline-offset: -1px !important;
}

.icon-selected {
    border: 1px rgba(0, 173, 196, 0.5019607843) solid;
    background: lightgrey;
}