
#view-header{
    color: #545454;
    font-size: 24px;
    text-transform: uppercase;
    text-shadow: none;
    padding-bottom: 5px;
    border-bottom: solid 2px #d4d4d4;
    font-weight: 300;
}

#view-title{
    color: #545454;
    font-size: 3em;
    font-weight: 600;
    font-family: fangsong;
    line-height: normal;
    margin-top: 1em;
}

.icon-cnt{
    margin-right: 5em;
    width: inherit;
    padding: 10px;
}

.icon-outline{
    width: inherit;
    border: solid 1px #d4d4d4;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.icon-outline > svg {
    font-size: 2em;
}
.icon-outline:hover{
    border-color: #00adc480;
}