@import '../../styles/variables';

#view-header{
    color: $view-header-color;
    font-size: $view-header-font-sz;
    text-transform: uppercase;
    text-shadow: none;
    padding-bottom: 5px;
    border-bottom: solid 2px #d4d4d4;
    font-weight: 300;
}

.view-title{
    color: $view-header-color;
    font-size: $view-title-font-sz;
    font-weight: 600;
    font-family: fangsong;
    line-height: normal;
    margin-top: 1em;
}

.view-secondary-title{
    color: $view-header-color;
    font-size: $view-secondary-title-font-sz;
    font-weight: 600;
    font-family: fangsong;
    line-height: normal;
    margin-top: 1em;
}

/* Icons */
.icon-cnt{
    margin-right: 5em;
    width: inherit;
    padding: 10px;
}

.icon-outline{
    width: inherit;
    border: solid 1px #d4d4d4;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.icon-outline > svg {
    font-size: 2em;
}

.icon-outline:hover{
    border-color: $hover-border-color;
}

/* Input */
.input-text {
    background-color: $input-bk-color;
    border: solid 1px $input-bk-color;
    border-radius: 5px;
    padding: 12px;
    width: 100%;
    font-size: $view-discription-font-sz;
    text-transform: uppercase;
    color: #0000009c;
    outline: 0;
    margin-bottom: 1em;
}

/* Accordion */
.accordion .card {
    border: none;
}

.accordion .card-body {
    border-bottom: solid 1px $hover-border-color;
    border-radius: $border-radius;
}

.accordion {
    border: solid 1px $hover-border-color;
    border-radius: 5px;
    margin-top: 1em;
    margin-bottom: 1em;
    max-height: 16em;
    overflow: scroll;
    scrollbar-width: thin !important;
}

.accordion .card-header {
    background: none;
}

.accordion .card-header:hover {
    background: #e3e3e38c;
    cursor: pointer;
    border: none;
}

.accordion .toggle-text {
    color: $primary-btn-bk;
    font-size: $view-toggle-text-font-sz;
    font-weight: 600;
}

hr {
    color: $horizontal-rule-color;
}

/* Italic header */
.italic-header{
    font-size: $view-discription-font-sz;
    font-weight: 600;
}

.accordion-desc{
    font-size: $view-discription-font-sz;
}

/* button */
.app-btn{
    background: $primary-btn-bk;
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: $border-radius;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}