/* color */
$background-color: rgb(243, 219, 227)5;
$right-panel-bk: #f6f6f6;
$email-bk: #e3e3e3;
$primary-btn-bk: #5db0b9;
$hover-border-color: #00adc480;
$section-divider: #d7d7d7;
$view-header-color: #545454;
$input-bk-color: #e3e3e3;
$horizontal-rule-color: #808080ab;

/* border */
$border-radius: 5px;

/* font */
$view-header-font-sz: 24px;
$view-title-font-sz: 45px;
$view-secondary-title-font-sz: 35px;
$view-discription-font-sz: 16px;
$view-toggle-text-font-sz: 12px;
