.home-img {
    width: 100%;
    height: calc(100%);
}

.logo {
    text-align: center;
}

.right-panel{
    padding: 5em;
    background: #f6f6f6;
}

@media only screen and (max-width: 1000px) {
    .right-panel{
        padding: 1em;
    }
}